@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Impostazioni header fisso */

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

.header_container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.header_container li{
    display: inline-block;
    padding: 20px 15px;
    font-size: 12px;
    color: rgb(26, 26, 26);
}

.dx_header li:last-child{
    color: #fff;
}

.header_container a{
    text-decoration: none;
    color: inherit;
}

.header_container img{
    width: 80%;
    position: relative;
    bottom: -4px;
    left: 15px;
}

/* Bottone blu */

.button{
    padding: 5px 15px;
    background-color: #0061ff;
    color: #fff;
}

main{
    margin-top: 60px;
}

/* Prima sezione */

.blue_section{
    width: 100%;
    background-color: #b4d0e7;
}

.large_container{
    width: 65vw;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
}

.large_container h1{
    font-size: 62px;
    width: 100%;
    margin-top: 30px;
}

.large_container .sx_column{
    width: 33%;
    display: inline-block;
    font-size: 14px;
}

.large_container .dx_column{
    width: 66%;
    display: inline-block;
    margin-top: -60px;
}

.dx_column img{
    width: 105%;
    position: relative;
    top: 80px;
}

.sx_column p{
    margin: 35px 0;
}

.sx_column a{
    text-decoration: none;
    color: inherit;
    font-size: 35px;
}
